.qk_hidden {
    display: none !important;
}
.qk_invisible {
    visibility: hidden !important;
}
.qk_clearfix:after {
    content: '';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.qk_toolbar_container {
    position: fixed;
    z-index: 100;
    padding: 0;
    border-style: none;
    border-width: 1px;
    border-radius: 0px 0px 5px 5px;
    -webkit-box-shadow: 3px 3px 4px #555;
    box-shadow: 3px 3px 4px #555;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.qk_toolbar {
    padding-top: 1px;
    padding-bottom: 1px;
}
.qk_popup {
    opacity: 1;
    background-color: #EBEBEB;
}
.qk_dialog {
}
.qk_container {
    height: 100%;
}
.qk_toolbar_top_container {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #F5F5F5;
}
.qk_toolbar_tab_container {
    padding-top: 0;
    padding-bottom: 0;
    float: left;
}
.qk_toolbar_item {
    padding-top: 0;
    padding-bottom: 0;
    opacity: 1;
    border-style: none;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-radius: 3px 3px 0px 0px;
}
.qk_toolbar_tab {
    float: left;
    margin-right: 2px;
    min-width: 35px;
    background-color: #C0C0C0;
}
.qk_tab_active {
    background-color: #EBEBEB;
}
.qk_toolbar_tab span {
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
}
.qk_toolbar_tab_button {
    display: block;
    -webkit-appearance: none;
    position: relative;
    width: 100%;
    min-width: 45px;
    min-height: 30px;
    height: 20px;
    border: 0px;
    padding: 0px;
    margin: 1px;
}
.qk_toolbar_close {
    float: right;
    min-width: 20px;
    margin-right: 0px;
}
.qk_toolbar_group_container {
    opacity: 1;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #EBEBEB;
}
.qk_tab {
    padding: 1px;
}
.qk_button {
    display: block;
    float: left;
    -webkit-appearance: none;
    position: relative;
    height: 45px;
    width: 45px;
    border: 0px;
    padding: 0px;
    margin: 1px;
}
.qk_button_bg {
    display: inline-block;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -17px;
    margin-right: -17px;
    line-height: 35px; /* must match height value - used for text button labels */
    background-size: contain;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
}
.qk_button_bg_bold {
    background-image: url(../images/inline-bold.png);
/*    background-image: url(../images/inline-bold.svg);*/
}
.qk_button_bg_italic {
    background-image: url(../images/inline-italic.png);
/*    background-image: url(../images/inline-italic.svg);*/
}
.qk_button_bg_underline {
    background-image: url(../images/inline-underline.png);
/*    background-image: url(../images/inline-underline.svg);*/
}
.qk_button_bg_strikethrough {
    background-image: url(../images/inline-strike-through.png);
/*    background-image: url(../images/inline-strike-through.svg);*/
}
.qk_button_bg_superscript {
    background-image: url(../images/inline-super-script.png);
/*    background-image: url(../images/inline-super-script.svg);*/
}
.qk_button_bg_subscript {
    background-image: url(../images/inline-sub-script.png);
}
.qk_button_bg_unorderedlist {
    background-image: url(../images/list-insert-unordered-list.png);
}
.qk_button_bg_orderedlist {
    background-image: url(../images/list-insert-ordered-list.png);
}
.qk_button_bg_justifyleft {
    background-image: url(../images/justification-justify-left.png);
}
.qk_button_bg_justifycenter {
    background-image: url(../images/justification-justify-centre.png);
}
.qk_button_bg_justifyright {
    background-image: url(../images/justification-justify-right.png);
}
.qk_button_bg_justifyfull {
    background-image: url(../images/justification-justify-full.png);
}
.qk_button_bg_horizontalrule {
    background-image: url(../images/inline-insert-horizontal-line.png);
}
.qk_button_bg_createlink {
    background-image: url(../images/insert-insert-link.png);
}
.qk_button_bg_selectall {
    background-image: url(../images/editing-select-all.png);
}
.qk_button_bg_redo {
    background-image: url(../images/editing-redo.png);
}
.qk_button_bg_undo {
    background-image: url(../images/editing-undo.png);
}
.qk_button_bg_indent {
    background-image: url(../images/list-indent.png);
}
.qk_button_bg_outdent {
    background-image: url(../images/list-outdent.png);
}
.qk_button_bg_removeformat {
    background-image: url(../images/editing-remove-formatting-selection.png);
}
.qk_button_bg_delete {
    background-image: url(../images/editing-delete-char-back.png);
}
.qk_button_bg_deleteforward {
    background-image: url(../images/editing-delete-char-forward.png);
}
.qk_button_bg_formath1 {
    background-image: url(../images/format-h1.png);
}
.qk_button_bg_formath2 {
    background-image: url(../images/format-h2.png);
}
.qk_button_bg_formath3 {
    background-image: url(../images/format-h3.png);
}
.qk_button_bg_formath4 {
    background-image: url(../images/format-h4.png);
}
.qk_button_bg_formath5 {
    background-image: url(../images/format-h5.png);
}
.qk_button_bg_formath6 {
    background-image: url(../images/format-h6.png);
}
.qk_button_bg_formatpara {
    background-image: url(../images/format-paragraph.png);
}
.qk_button_bg_formatpre {
    background-image: url(../images/format-preformatted-text.png);
}
.qk_button_bg_navcharleft {
    background-image: url(../images/navigation-move-character-left.png);
}
.qk_button_bg_navcharright {
    background-image: url(../images/navigation-move-character-right.png);
}
.qk_button_bg_navwordleft {
    background-image: url(../images/navigation-move-word-left.png);
}
.qk_button_bg_navwordright {
    background-image: url(../images/navigation-move-word-right.png);
}
.qk_button_bg_navlineup {
    background-image: url(../images/navigation-move-line-up.png);
}
.qk_button_bg_navlinedown {
    background-image: url(../images/navigation-move-line-down.png);
}
.qk_button_bg_navlinestart {
    background-image: url(../images/navigation-move-line-left.png);
}
.qk_button_bg_navlineend {
    background-image: url(../images/navigation-move-line-right.png);
}
.qk_button_bg_infohelp {
    background-image: url(../images/extra-help.png);
}
.qk_button_bg_keybindings {
    background-image: url(../images/extra-keyboard.png);
}
.qk_button_bg_about {
    background-image: url(../images/IMD-logo-45x45.jpg);
}
.qk_button_bg_license {
    background-image: url(../images/extra-licence.png);
}
.qk_button_bg_releasenotes {
    background-image: url(../images/extra-release-notes.png);
}
.qk_button_bg_insert {
    background-image: url(../images/extra-open-plugin.png);
}
.qk_button_bg_save {
    background-image: url(../images/extra-save.png);
}
.qk_button_bg_applystyle {
    background-image: url(../images/future-possibilities-highlight.png);
}
.qk_button_active {
    background-color: #DADADA;
}
.qk_button ul {
    padding-left: 15px;
}
.qk_button ol {
    padding-left: 15px;
}
.qk_input {
    padding: 0;
    height: 45px;
    text-align: center;
}
.qk_input * {
    vertical-align: middle;
}
.qk_input_label {
    font-family: 'Lucida Grande';
    font-size: 11px;
}
.qk_input_checkbox {
    margin: 0;
}
/* Needed for Chrome */
button {
    background-color: transparent;
    outline: none;
}
#qk_dialog_createlink {
    padding: 5px;
}
.qk_edit_createlink_container {
    display: block;
    overflow: hidden;
}
#qk_edit_createlink {
    width: 100%;
}
/* min-height is a hack because height 100% doesn't work properly - presumably because it's floated. */
#qk_dialog_createlink button {
    float: right;
    min-height: 25px;
    height: 100%;
}
[contenteditable="true"] {
    white-space: pre-wrap;
}
[contenteditable="true"]:focus {
    outline: none;
}
.qk_command_mode {
    background-color: #E2E2E2;
}
.qk_button_bar .qk_button {
    display: inline;
    background-color: #EBEBEB;
}
.qk_button_bar_bg {
    width: 100%;
    height: 100%;
}
.qk_plugin_close_button {
    position: fixed;
    z-index: 900;
    background: rgba(2, 255, 2, 0.4) url(../images/extra-save-return.png) center center no-repeat;
    width: 40px;
    height: 34px;
    padding: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.qk_position_top {
    top: 0px;
}
.qk_position_bottom {
    bottom: 0px;
}
.qk_position_left {
    left: 0px;
}
.qk_position_right {
    right: 0px;
}
.qk_popup_menu {
    position: fixed;
    z-index: 1000;
    padding: 0px;
    font-family: 'Lucida Grande';
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
}
.qk_popup_menu_item {
    padding: 10px;
}
.qk_popup_menu > .qk_popup_menu_item {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.qk_popup_menu_item:last-child {
    border-bottom-width: 0px;
}
.qk_popup_menu_item_state {
    float: right;
    margin-left: 20px;
}
.qk_info_container {
    position: fixed;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    z-index: 500;
    padding: 0px;
    margin: 0px;
    border: 3px solid;
    border-radius: 5px;
}
.qk_info_content {
    height: 100%;
    background-color: #F5F5F5;
    padding-left: 5px;
    padding-right: 5px;
}
.qk_info_close_button {
    position: absolute;
    right: 0px;
    top: 0px;
    background: url(../images/extra-close.png) center center no-repeat;
    padding: 0px;
    margin: 0px;
    width: 45px;
    height: 45px;
}
.qk_info_content table {
    border-collapse: collapse;
}
.qk_info_content th{
    text-align: left;
}
.qk_info_content td, th {
    border: 1px solid;
    padding: 0.5em;
}
.qk_info_content tbody tr:nth-child(odd) {
    background: #EBEBEB;
}
.qk_info_content pre {
    display: inline;
}
.qk_scroll {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
/* This seems to do nothing on iOS7 when applied to the body */
.qk_no_scroll {
    overflow: hidden;
}
.qk_mask {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: black;
    opacity: 0.2;
    z-index: 200;
}
[contenteditable="true"] pre {
    background: #EBEBEB;
}
[contenteditable="true"] svg {
    border: 1px solid #CEE6FF;
}
.qk_state_bar {
    position: fixed;
/*    position: absolute; */
    right: 5px;

    top: 5px;
    padding: 1px;
    z-index: 90;
    background-color: #EBEBEB;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
/*    background-color: rgba(235, 235, 235, 0.5);*/
}
.qk_state_bar_item {
    float: left;
    width: 25px;
    height: 25px;
    padding: 0px;
}
.qk_state_bar_item_bg {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: contain;
}
.qk_button_bg_commandmode {
    background-image: url(../images/extra-keyboard.png);
}
.qk_button_bg_navandselect {
    background-image: url(../images/extra-select.png);
}
.qk_button_bg_submit {
    background-image: url(../images/extra-submit.png);
}
.qk_button_bg_persisterr {
    background-image: url(../images/extra-save-off.png);
}
.qk_button_bg_docdirty {
    background-image: url(../images/extra-save-waiting.png);
}
.qk_info_help img {
    width: 35px;
    height: 35px;
}
.qk_viewport_relative {
    position: absolute;
}
.qk_caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;  /* left arrow slant */
    border-right: 5px solid transparent; /* right arrow slant */
    border-bottom: 5px solid blue; /* bottom, add background color here */
    font-size: 0;
    line-height: 0;
    position: absolute;
    z-index: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
