/* Css classes added here will be offered as options in the apply style menu. */

.Title {
    font-weight: bold;
    font-size: 2em;
}
.Heading {
    font-weight: bold;
    font-size: 1.5em;
}
.SubHeading {
    font-weight: bold;
    font-size: 1.17em;
}
.Bold {
    font-weight: bold;
}
.Italic {
    font-style: italic;
}
.Arial {
    font-family: Arial, Helvetica, sans-serif;
}
.Comic_Sans_MS {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.Arial_Black {
    font-family: "Arial Black", Gadget, sans-serif;
}
.Impact {
    font-family: Impact, Charcoal, sans-serif;
}
.Copperplate {
  font-family:  Copperplate, "Copperplate Gothic Light", fantasy;
}
.Brush_Script {
  font-family:  "Brush Script MT", cursive;
}
.Courier {
    font-family: "Courier New", Courier, monospace;
}
.Times_New_Roman {
    font-family: "Times New Roman", Times, serif;
}
.Stroke_Red {
    color: red;
}
.Stroke_Blue {
    color: blue;
}
.Highlight_Red {
    background-color: red;
}
.Highlight_Green {
    background-color: green;
}
.Capitalise {
    text-transform: capitalize;
}
.Upper_Case {
    text-transform: uppercase;
}
